<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>表格</title>

    <link rel="stylesheet" href="__STATIC__/frame/layui/css/layui.css">

    <link rel="stylesheet" href="__STATIC__/frame/static/css/style.css">

    <link rel="icon" href="__STATIC__/frame/static/image/code.ico">

    <script type="text/javascript" src="__STATIC__/frame/layui/layui.js"></script>

    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/bs/css/bootstrap.min.css">
    <script type="text/javascript" src="__STATIC__/bs/js/bootstrap.min.js"></script>
    <style type="text/css">

    body{
        width: 2100px;
    }
    </style>
</head>

<body class="body" style="overflow: auto;">

    <!-- 工具集 -->

    <div class="my-btn-box">

        <span class="fl">
            <a href="javascript:;" class="layui-btn btn-add layui-btn-normal" id="btn-refresh" onclick="location.reload([true]);"><i class="layui-icon">&#x1002;</i></a>
        </span>

        <span class="fl">

            <form>

            <span class="layui-form-label">搜索：</span>

            <div class="layui-input-inline">

                <input type="text" name="name" autocomplete="off" placeholder="输入姓名" class="layui-input">

            </div>

            <input type="submit" class="layui-btn mgl-20" name="" value="查询">
            <input type="button" class="layui-btn mgl-20" name="" value="总{$tot}人数">


            </form>

        </span>

    </div>
    <style type="text/css">
        #table th{
            /*border: 1px solid black;*/
        }
        #table td{
            /*border: 1px solid grey;*/
        }
    </style>


    <table class="layui-table" id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>手机</th>
            <th>地址</th>
            <th>产品</th>
            <th>数量</th>
            <th>押金</th>
            <th>支付方式</th>
            <th>代收款</th>
            <th>状态</th>
            <th>快递</th>
            <th>单号</th>
            <th>快递状态</th>
            <th>是否复购</th>
            <th>进线日期</th>
            <th>成交日期</th>
            <th>录入日期</th>
            <th>操作</th>

        </tr>

        </thead>

        <tbody>

            {volist name="data" id="value"}

                <tr>

                    <td>{$value.id}</td>
                    <td> <input type="text" value="{$value.name}" style="width:60px;" onblur="t_ajax_name(this,{$value.id})"> </td>
                    <td> <input type="text" value="{$value.lxfs}" style="width:100px;" onblur="t_ajax_lxfs(this,{$value.id})"></td>
                    <td> <input type="text" value="{$value.address}" style="width:180px;" onblur="t_ajax_address(this,{$value.id})"></td>
                    <td>
                        <select onblur="t_ajax_product(this,{$value.id})">
                            <option value="">空</option>
                            {volist name="chanpinarr" id="chanpinarrs"}
                            <option value="{$chanpinarrs.product_name}" {if condition="$value.product eq $chanpinarrs.product_name"}selected="selected"{/if}>{$chanpinarrs.product_name}</option>
                            {/volist}
                        </select>
                    </td>
                    <td>
                        <select onblur="t_ajax_number(this,{$value.id})">
                            {volist name="liang" id="liangs"}
                                <option value="{$liangs.s_number}" {if condition="$value.number eq $liangs.s_number"}selected="selected"{/if}>{$liangs.s_number}</option>
                            {/volist}
                        </select>
                    </td>
                    <td><input type="text" value="{$value.earnest_money}" style="width:40px;" onblur="t_ajax_earnest_money(this,{$value.id})"></td>
                    <td>
                        <select onblur="sorts(this,{$value.id})">
                            <option value="" {if condition="$value.pay_type eq ' '"}selected="selected"{/if}>支付方式</option>
                            <option value="微信支付" {if condition="$value.pay_type eq '微信支付'"}selected="selected"{/if}>微信支付</option>
                            <option value="支付宝" {if condition="$value.pay_type eq '支付宝'"}selected="selected"{/if}>支付宝</option>
                            <option value="银行卡" {if condition="$value.pay_type eq '银行卡'"}selected="selected"{/if}>银行卡</option>
                            <option value="门诊用户" {if condition="$value.pay_type eq '门诊用户'"}selected="selected"{/if}>门诊用户</option>
                        </select>
                    </td>
                    <td><input type="text" value="{$value.ds_money}" style="width:40px;"></td>
                    <td>{$value.verification_dsk}</td>
                    <td>{$value.express}</td>
                    <td>{$value.express_number}</td>
                    <td>
                        <select onblur="sorts(this,{$value.id})">
                            <option value="是" {if condition="$value.express_stat eq ' '"}selected="selected"{/if}>空</option>
                            <option value="是" {if condition="$value.express_stat eq '已发货'"}selected="selected"{/if}>已发货</option>
                            <option value="是" {if condition="$value.express_stat eq '已签收'"}selected="selected"{/if}>已签收</option>
                            <option value="否" {if condition="$value.express_stat eq '运输中'"}selected="selected"{/if}>运输中</option>
                            <option value="否" {if condition="$value.express_stat eq '已拒收'"}selected="selected"{/if}>已拒收</option>
                            <option value="否" {if condition="$value.express_stat eq '待揽件'"}selected="selected"{/if}>待揽件</option>
                        </select>
                    </td>
                    <td>
                        <select onblur="sorts(this,{$value.id})">
                         
                            <option value="是" {if condition="$value.is_purchase eq '是'"}selected="selected"{/if}>是</option>
                            <option value="否" {if condition="$value.is_purchase eq '否'"}selected="selected"{/if}>否</option>
                        </select>
                    </td>
                    <td><input type="text" value="{$value.line_time}" style="width:80px;"></td>
                    <td><input type="text" value="{$value.deal_time}" style="width:80px;"></td>
                    <td>{$value.add_luru_time|date="Y-m-d H:i:s",###}</td>
                    <td>
		              <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#edit" onclick="edit(this,{$value.id})"></span>
		            </td>

                </tr>

            {/volist}

        </tbody>



    </table>

    {$data->render()}

    <!-- 老师修改模态框 -->

    

</body>

</html>

<script type="text/javascript" src="__STATIC__/frame/layui/layui.js"></script>

<script type="text/javascript" src="__STATIC__/frame/static/js/vip_comm.js"></script>

<script type="text/javascript">

    //ajax改变状态

    function statu(obj,id,statu){

        if(statu==2){

            //禁用状态

            $.post("{:url('admin/adminstatu')}",{id:id,statu:'1'},function(data){

                if(data==1){

                    $(obj).html('正常');

                    $(obj).addClass('layui-btn-warm').removeClass('layui-btn-normal');

                    $(obj).attr('onclick','statu(this,'+id+',1)');

                }

            });

        }else{

            //正常状态

            $.post("{:url('admin/adminstatu')}",{id:id,statu:'2'},function(data){

                if(data==1){

                    $(obj).html('禁用');

                    $(obj).addClass('layui-btn-normal').removeClass('layui-btn-warm');

                    $(obj).attr('onclick','statu(this,'+id+',2)');

                }

            });

        }

    }

    
    // ajax 修改姓名
    function t_ajax_name(obj,id){
        var name = $(obj).val();
        $.post("{:url('staff/ajax_edit_name')}",{id:id,name:name},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }
    // ajax 修改联系方式
    function t_ajax_lxfs(obj,id){
        var lxfs = $(obj).val();
        $.post("{:url('staff/ajax_edit_lxfs')}",{id:id,lxfs:lxfs},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }
    // ajax 修改地址
    function t_ajax_address(obj,id){
        var address = $(obj).val();
        $.post("{:url('staff/ajax_edit_address')}",{id:id,address:address},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }

    // ajax 修改产品
    function t_ajax_product(obj,id){

        var product=$(obj).val();
       
        $.post("{:url('staff/ajax_edit_product')}",{id:id,product:product},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }
    // ajax 产品数量
    function t_ajax_number(obj,id){
        var number=$(obj).val();
       
        $.post("{:url('staff/ajax_edit_number')}",{id:id,number:number},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }
    // ajax 修改押金
    function t_ajax_earnest_money(obj,id){
        var earnest_money=$(obj).val();

        $.post("{:url('staff/ajax_edit_earnest_money')}",{id:id,earnest_money:earnest_money},function(data){
            if(data.code == '200'){
                layer.msg(data.msg); 
                $("#refresh").click();
            }else if(data.code == '400'){
                layer.msg(data.msg); 
            }
        },'json');
    }
</script>